table
{
    align-content: center;
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: burlywood;
    border-radius: 10px; 
    overflow: hidden;
    width: 500px;
}
th ,td
{
    border: 1px solid black;
    padding: 10px;
}
#ali-as
{
    color: blueviolet;
    text-align: center;
}
.ali
{
    color: white;
    text-align: left;
}
#hey
{
    color: coral;
    text-align: center;
}
#te
{
    text-size-adjust: 30;
}